thermotar/__pycache__
thermotar/sub_modules/__pycache__
thermotar/utils/__pycache__
#./thermotar/tests/test_files/
#./thermotar/tests/test_files/profile2d.dat
.gitignore
.vscode/settings.json
test_files/profile2d.dat
thermotar/analysis/__pycache__/stp_utils.cpython-38.pyc
